@import "./reset.css";

@font-face {
    font-weight: 400;
    font-family: TT Lakes;
    font-style: normal;
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-weight: 500;
    font-family: TT Lakes;
    font-style: normal;
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
}

@font-face {
    font-weight: 700;
    font-family: TT Lakes;
    font-style: normal;
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
}

body {
    color: black;
    background-color: #F8F8F8;
    font-family: 'TT Lakes';
    /* overflow: hidden; */
}

.menu {
    height: 100vh;
}

.menu__container {
    display: flex;
    flex-direction: column;
    padding: 18px 24px 32px 24px;
    width: 320px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 
    16px 0px 52px 0px rgba(14, 24, 80, 0.20), 
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu__header img {
    min-width: 40px;
    min-height: 40px;
}

.menu__logo{
    flex: 1 1 100%;
}

.menu__list {
    margin-top: 50px;
    flex: 1 1 100%;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.menu__item {
    gap: 32px;
}

.menu__item {
    margin-bottom: 32px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__item--active {
    position: relative;
    color: #7E7E82;
}

.menu__item--active::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    border-radius: 0 40px 40px 0;
    background: #41F6D7;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
}

.menu__support {
    margin-top: 50px;
    display: flex;
    gap: 16px;
}

.button:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.menu__contact-info {
    margin-top: 16px;
}

.menu__phone {
    margin-top: 12px;
    color: #1B1C21;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.menu__choose-language {
    margin-top: 40px;
    display: flex;
    gap: 7px;
    text-transform: uppercase;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.language__button--ru {
    color: #7E7E82;
}


@media (max-height: 804px) {
    .menu {
        height: 100%;
    }
}